* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.left {
    width: 20%;
    background-color: var(--bg);
    height: 100vh;
    display: flex;
    position: relative;
}

.null {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #4932cc;
    top: 0;

}

.left .menus {
    margin-top: 10rem;
    width: 100%;
}

.left li {
    padding: 15px 20px;
}

li i{
    margin-right: 15px;
}
li a {
    color: black;
    font-size: 17px;
}

li:hover {
    background-color: #f1f1f1;
}

.right {
    width: 80%;
    background-color: #f1f1f1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right header {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

header .bar{
    position: absolute;
    left: 30px;
    font-size: 35px;
}

header h1 {
    font-size: 30px;
}

.totalMember {
    width: 100%;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.totalMember .box {
    background-color: #fff;
    padding: 10px;
    width: 250px;
    height: 125px;
    box-shadow: 2px 3px 5px #9c9898;
}

h4{
    text-align: center;
}

.box h4,
p,
a,span {
    padding: 15px 0;
    color: darkgrey;
}

.box a{
    font-weight: 600;
    text-align: center;
}

.leadership{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 90%;
background-color: #fff;
box-shadow: 2px 3px 5px #9c9898;
padding: 20px 0;
}

.leadership h1{
    font-size: 25px;
    margin-bottom: 20px;
}

table{
    border-spacing: 0;
    width: 95%;
}
table tr{
    border-bottom: 2px solid ;
}

tr td{
    padding:15px;
    color: darkgrey;
    border-bottom: 1px solid;
}


table th{
    background-color: #303030;
    color: #fff;
    padding: 10px 50px 10px 10px;
}